@model BrightwayCodeTest.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvertedCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvertedCurrency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create">Plan Another Trip</a> |
    <a asp-action="Index">Back to List</a>
</div>
